*.pyc
/stratosim/pom.xml
/stratosim/src/main/java/com/stratosim/client/ui/view/loading/LoadingView.ui.xml
/stratosim/src/main/java/com/stratosim/server/AppInfo.java
/stratosim/src/main/webapp/robots.txt
/stratosim/src/main/webapp/WEB-INF/appengine-web.xml
/stratosim/src/main/webapp/WEB-INF/templates/NewCollaboratorEmail.html
/stratosim/src/main/webapp/WEB-INF/templates/include/Head.ftl
/stratosim/target/
/stratosim/war
/stratosim/www-test
/stratosim/.classpath
/stratosim/.project
/stratosim/.settings/
/worker/.project
/worker/.pydevproject
/worker/app.prod.config
/worker/global.prod.config
