<!doctype html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8">

	<title>StratoSim - Accounts</title>
	<meta name="description" content="">
	<meta name="author" content="StratoSim">

	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.0.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="/10/css/style.css">
</head>
<body>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/"> <h1 class="title">StratoSim</h1> </a>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="row" >
        <div class="span3">&nbsp;</div>
        <div class="span6">
          <span class="success">Your password has been changed.</span>
        </div>
      
        <div class="span3">&nbsp;</div>
    </div>
    
      <hr>

      <footer>
        <p style="text-align: center">&copy; StratoSim LLC 2012 <br />
        <a href="/terms/">Terms of Service</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/privacy/">Privacy Policy</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="mailto:contact@stratosim.com" target="_blank">Contact Us</a></p>
      </footer>

    </div> <!-- /container -->

</body>
</html>
