<!doctype html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8">

	<title>StratoSim - Accounts</title>
	<meta name="description" content="">
	<meta name="author" content="StratoSim">

	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.0.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="/10/css/style.css">
</head>
<body>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/"> <h1 class="title">StratoSim</h1> </a>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="row" >
        <div class="span3">&nbsp;</div>
        <div class="span6">
              <h2>Change Account Password</h2>
              <br />
              
              <form onsubmit="return false;" class="form-horizontal">
    <fieldset>
    <div class="control-group">

          <!-- Text input-->
          <label class="control-label" for="stratosim_oldpassword">Old Password:</label>
          <div class="controls">
            <input name="stratosim_oldpassword" id="stratosim_oldpassword" type="password" placeholder="Old Password..." class="input-xlarge">
          </div>
        </div>

    <div class="control-group">

          <!-- Text input-->
          <label class="control-label" for="stratosim_newpassword1">New Password:</label>
          <div class="controls">
            <input name="stratosim_newpassword1" id="stratosim_newpassword1" type="password" placeholder="New Password..." class="input-xlarge">
          </div>
        </div>

    <div class="control-group">

          <!-- Text input-->
          <label class="control-label" for="stratosim_newpassword2">Renter New Password:</label>
          <div class="controls">
            <input name="stratosim_newpassword2" id="stratosim_newpassword2" type="password" placeholder="New Password Again..." class="input-xlarge">
          </div>
        </div>

    <div class="control-group">
          <label class="control-label"></label>

          <!-- Button -->
          <div class="controls">
            <button onclick="stratosim_changepassword();" class="btn btn-info">Change Password</button>
          </div>
        </div>

    </fieldset>
  </form>
  
  <span id="stratosim_invalid" class="invalid">Incorrect Password.</span>
  <span id="stratosim_short" class="invalid">Password must be more than 5 characters.</span>
  <span id="stratosim_unmatched" class="invalid">New password and reentered password do not match.</span>

          <form id="stratosim_accounts" action="/accounts/change-password" style="display: none" method="post">
            <input name="email" id="stratosim_email" type="hidden" />
            <input name="oldhash" id="stratosim_oldhash" type="hidden" />
            <input name="newhash" id="stratosim_newhash" type="hidden" />
          </form>
          
        </div>
      
        <div class="span3">&nbsp;</div>
    </div>
    
      <hr>

      <footer>
        <p style="text-align: center">&copy; StratoSim LLC 2012 <br />
        <a href="/terms/">Terms of Service</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/privacy/">Privacy Policy</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="mailto:contact@stratosim.com" target="_blank">Contact Us</a></p>
      </footer>

    </div> <!-- /container -->

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
 	<script type="text/javascript" src="/10/js/2.5.3-crypto-sha256.js"></script>
  <script type="text/javascript" src="/10/js/2.5.3-crypto-min.js"></script>
	
	  <script type="text/javascript">
    function stratosim_changepassword() {
      var username = "${username}";
      var oldpassword = $('#stratosim_oldpassword').val();
      var password1 = $('#stratosim_newpassword1').val();
      var password2 = $('#stratosim_newpassword2').val();

      if (password1 != password2) {
        $('#stratosim_invalid').hide();
        $('#stratosim_short').hide();
        $('#stratosim_unmatched').show();
        return;
      }

      if (password1.length < 5) {
        $('#stratosim_invalid').hide();
        $('#stratosim_unmatched').hide();
        $('#stratosim_short').show();
        return;
      }

      var oldhash = Crypto.util.bytesToHex(Crypto.SHA256(username+oldpassword, { asBytes: true }));
      var newhash = Crypto.util.bytesToHex(Crypto.SHA256(username+password1, { asBytes: true }));

      $('#stratosim_email').val(username);
      $('#stratosim_oldhash').val(oldhash);
      $('#stratosim_newhash').val(newhash);
      $('#stratosim_accounts').submit();
    }
    
     $(function() {
      $('#stratosim_accounts').attr('action', "${changePasswordUrl}");
     
      if (window.location.href.match("stratosim_invalid")) {
        $('#stratosim_invalid').show();
      }
    });
  </script>

</body>
</html>
