<#assign key="lid0bdUK3I8/1344456600428">

<#include "/include/Head.ftl">

<#include "/include/Body.ftl">

<#include "/include/ExamplesBody.ftl">

<h3>Logic Gates</h3>           
<iframe class="thumbnail" height="500px" width="680px" src="/public/embed/lid0bdUK3I8/1344456600428?circuitHeight=440&amp;chartHeight=0"></iframe>
<iframe class="thumbnail" height="420px" width="680px" src="/public/embed/lid0bdUK3I8/1344456600428?circuitHeight=0&amp;chartHeight=120&amp;x&amp;y&amp;z"></iframe>
<iframe class="thumbnail" height="420px" width="680px" src="/public/embed/lid0bdUK3I8/1344456600428?circuitHeight=0&amp;chartHeight=120&amp;a&amp;b&amp;Original"></iframe>

<#include "/include/ExamplesEnd.ftl">

<#include "/include/Foot.ftl">

<#include "/include/End.ftl">   
