<#assign key="Rr27lB8wXiE/1337595743842">

<#include "/include/Head.ftl">

<#include "/include/Body.ftl">

<#include "/include/ExamplesBody.ftl">

<iframe class="thumbnail" height="340px" width="680px" src="/public/embed/Rr27lB8wXiE/1337595743842?circuitHeight=300"></iframe>
<iframe class="thumbnail" height="360px" width="680px" src="/public/embed/Rr27lB8wXiE/1337595743842?chartHeight=100&amp;a&amp;b&amp;voltage1"></iframe>

<#include "/include/ExamplesEnd.ftl">

<#include "/include/Foot.ftl">

<#include "/include/End.ftl">   
