<#assign key="s5LvV9YGsG0/1344456554046">

<#include "/include/Head.ftl">

<#include "/include/Body.ftl">

<#include "/include/ExamplesBody.ftl">

<h3>RLC AC Response</h3>
<iframe class="thumbnail" height="240px" width="680px" src="/public/embed/s5LvV9YGsG0/1344456554046?circuitHeight=200"></iframe>
<iframe class="thumbnail" height="660px" width="680px" src="/public/embed/s5LvV9YGsG0/1344456554046?chartHeight=200&amp;group1&amp;group2"></iframe>

<#include "/include/ExamplesEnd.ftl">

<#include "/include/Foot.ftl">

<#include "/include/End.ftl">   
