<#include "/include/Head.ftl">

<#include "/include/Body.ftl">

      <div class="row" >
        <div class="span6">
          <h3>Single Sign On</h3>
          <br />
	      <div class="janrainContainer">
	        <div id="janrainEngageEmbed"></div>
	      </div>
	      <p>
	        Once you sign in with an email provider, StratoSim will verify
	        your email address and grant access. While some providers (Facebook)
	        also share your name and basic info, StratoSim does not examine or store
	        any personal information other than your email address.
	      </p>
        </div>
        <div class="span6">
          <h3>StratoSim Accounts</h3>
          <br />
	      <div class="janrainMimic">	            
            <form onsubmit="return false;" class="form-horizontal" >
              <fieldset>
                <div class="control-group">
                  <label class="control-label" for="stratosim_username">Email:</label>
                  <div class="controls">
                    <input name="stratosim_username" id="stratosim_username" type="text" placeholder="Email...">
                  </div>
                </div>

               <div class="control-group">
                 <label class="control-label" for="stratosim_password">Password:</label>
                 <div class="controls">
                   <input name="stratosim_password" id="stratosim_password" type="password" placeholder="Password...">
                 </div>
               </div>
               <div class="control-group">
                 <label class="control-label"></label>
                 <div class="controls">
                   <button onclick="stratosim_login();" class="btn btn-info">Login</button>
                 </div>
               </div>
             </fieldset>
           </form>        

           <span id="stratosim_invalid" class="invalid">The email and password combination entered was not found.</span>
	       <span id="stratosim_bademail" class="invalid">The email entered is not valid.</span>
	       <span id="stratosim_provideremail" class="invalid">Please sign in with your email provider on the left.</span>

           <form id="stratosim_accounts" style="display: none" method="post">
             <input name="email" id="stratosim_email" type="hidden" />
             <input name="hash" id="stratosim_hash" type="hidden" />
           </form>
       
         </div>
       
         <p>
	       Or, you may sign in with a StratoSim account if your email provider is
	       not listed.
         </p>
         
       </div>

     </div>

<#include "/include/Foot.ftl">

  <script type="text/javascript" src="/${VERSION}/js/2.5.3-crypto-sha256.js"></script>
  <script type="text/javascript" src="/${VERSION}/js/2.5.3-crypto-min.js"></script>
	
  <script type="text/javascript">
    var cuidAppend = "";
    if (window.location.hash != "") {
      var afterhash = window.location.hash.substring(1);
      var issecure = document.location.protocol === "https:";
      document.cookie = "cuid_${cookieUID}="+escape(afterhash)+"; "+(issecure ? "Secure; " : "");
      cuidAppend += "cuid=${cookieUID}";
    }

    (function() {            
        if (typeof window.janrain !== 'object') window.janrain = {};
        window.janrain.settings = {};
        var cuidAppendJanrain = "";
        if (cuidAppend != "") {
          cuidAppendJanrain = "?" + cuidAppend;
        }
        janrain.settings.tokenUrl = "${janrainUrl}" + cuidAppendJanrain;

        function isReady() { janrain.ready = true; };
        if (document.addEventListener) {
          document.addEventListener("DOMContentLoaded", isReady, false);
        } else {
          window.attachEvent('onload', isReady);
        }

        var e = document.createElement('script');
        e.type = 'text/javascript';
        e.id = 'janrainAuthWidget';

        if (document.location.protocol === 'https:') {
          e.src = 'https://rpxnow.com/js/lib/stratosim/engage.js';
        } else {
          e.src = 'http://widget-cdn.rpxnow.com/js/lib/stratosim/engage.js';
        }

        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(e, s);
    })();
            
    $(function() {
      var cuidAppendStratoSim = "";
      if (cuidAppend != "") {
        cuidAppendStratoSim = "?" + cuidAppend;
      }
      $('#stratosim_accounts').attr('action', "${stratosimAccountUrl}" + cuidAppendStratoSim);

      if (window.location.href.match("stratosim_invalid")) {
        $('#stratosim_invalid').show();
      }
    });

    function checkEmail(email) {
      if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(email)) {
        return true;
      }
      return false;
    }

    function stratosim_login() {
      var username = $('#stratosim_username').val().toLowerCase();
      if (!checkEmail(username)) {
        $('#stratosim_invalid').hide();
        $('#stratosim_provideremail').hide();
        $('#stratosim_bademail').show();
        return;
      } else if (username.match(/gmail\.com$/) ||
                 username.match(/yahoo\.com$/) || 
                 username.match(/hotmail\.com$/)) {
        $('#stratosim_invalid').hide();
        $('#stratosim_bademail').hide();
        $('#stratosim_provideremail').show();
        return;
      }

      var password = $('#stratosim_password').val();
      var hash = Crypto.util.bytesToHex(Crypto.SHA256(username+password, { asBytes: true }));
              
      $('#stratosim_email').val(username);
      $('#stratosim_hash').val(hash);
      $('#stratosim_accounts').submit();
    }

  </script>

<#include "/include/End.ftl">
