<#include "/include/Head.ftl">

<#include "/include/Body.ftl">   

     <div class="row">
        <div class="span12">
          
          <h2>Privacy Policy</h2>
          
<h3>Personal Information</h3>

<p>Use of the Services may require a StratoSim account. Creation and use of a StratoSim account
requires some personal information, such as your email address, and/or permission for StratoSim to verify your email account with
third party services.</p>

<p>StratoSim automatically records certain information about your use of the Website and services. StratoSim records account
identifiable information such as account activity (such as saved designs, simulation results, design images, sharing settings, usage patterns), 
interactions (such as UI elements clicked, values entered), and other log information (such as browser type, IP address, date and time of 
access, StratoSim session cookies, referrer URL). StratoSim may collect usage error reports to improve the product.
These reports may contain some or all of the information in your documents and may be reviewed by StratoSim employees and contractors.
StatoSim stores, processes and maintains your Content, access settings, control settings and other data
for the purpose of providing you with the Website and services.</p>

<p>We use this information internally to deliver the best possible service to you.
Content you create, upload, or copy to StratoSim may, if you choose, be read, copied, used and 
redistributed by people you know or, again if you choose, by people you do not know.
Some features may be provided by third parties, who may receive and process your data.
Access to your data by these third parties is not governed by this Privacy Policy.
StratoSim reserves the right to review documents to help resolve problems with the Website or services or to ensure 
compliance with the Agreement.
</p>

<h3>Information Sharing</h3>
<p>
We will not sell or rent your personal information to others, except to the extent necessary to fulfill any 
requests by you to share content through another website or partner.</p>
<p>StratoSim only shares personal information with other companies or individuals outside of StratoSim in the 
following circumstances.

The information needs to be shared for the purpose of providing the Website or services (such as storing and processing data).

We have your consent to share the information.

We have a good faith belief that access, use, preservation or disclosure of such information is reasonably 
necessary to (a) satisfy any applicable law, regulation, legal process or enforceable governmental request, 
(b) enforce applicable Terms of Service, including investigation of potential violations thereof, 
(c) detect, prevent, or otherwise address fraud, security or technical issues, or 
(d) protect against harm to the rights, property or safety of StratoSim, its users or 
the public as required or permitted by law.

</p>
<p>
We may share with third parties certain pieces of aggregated, non-personal information, such 
as the number of users who used a type of document, for example, or how many users 
clicked on a particular advertisement. Such information does not identify you individually.
</p>
<h3>Data Security</h3>

<p>
StratoSim will take reasonable measures to protect your personal information and your documents, 
both to ensure that your documents remain available to you, and that they remain unavailable to unauthorized persons.
</p>

<h3>Changes to Privacy Policy</h3>

<p>
StratoSim reserves the right to change or modify this Privacy Policy at any time, without prior notice, 
by posting the modified Privacy Policy on the Website. Your continued use of the Website or services 
indicates your acceptance of any revised Privacy Policy.
StratoSim may provide you with notifications that include, without limitation, any changes that are made to this 
Privacy Policy or the services, by postings on the Website or via email to a user.
</p>

<h3>Your Choices</h3>
<p>
You may stop using StratoSim at any time, however data already obtained from the Website or services may be retained
by StratoSim for a period of time at StratoSim's sole discretion.
</p>
        </div>
      </div>

<#include "/include/Foot.ftl">  

<#include "/include/End.ftl">   
